h1 {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: clamp(2em, 9vw, 9vw);
}

h2 {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: clamp(1.5em, 5vw, 7vw);
}

p {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: clamp(2em, 2vw, 3.5vw);
    letter-spacing: 1px;
    flex-wrap: wrap;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.box {
    border: 2px solid #000;
    border-radius: 10px;
    height: 10%;
    width: 20vw;
    background-color: rgb(17, 50, 150);
    margin: auto;
}

.back {
    border: 2px solid #000;
    border-radius: 10px;
    width: 6%;
    background-color: rgb(17, 50, 150);
    margin: left;
}

.textinput {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: large;
    letter-spacing: 1px;
    background-color: rgb(17, 50, 150);
}

.center {
    width: 50%;
    margin: auto;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.checkbutton {
    border: 2px solid #000;
    border-radius: 10px;
    height: 10%;
    width: 30%;
    background-color: rgb(17, 50, 150);
    margin: auto;
    padding: 15px 32px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: large;
    letter-spacing: 1px;
    align-self: center;
}

body {
    background-color: rgb(0, 0, 81);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 131);
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: blueviolet;
}