body {
  margin: 0;
  background: linear-gradient(to bottom right, #cedef0, #9d9ad9, #6b9bd1);
  min-height: 100vh;
}

.logo {
  max-width: 100%; /* Ensure the logo does not exceed its container's width */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}

/* Example media query for adjusting the logo size at different screen sizes */
@media (max-width: 768px) {
  .logo {
    max-width: 80%; /* Reduce the logo size for smaller screens */
  }
}

/* Additional media queries can be added as needed for different breakpoints */
@media (max-width: 480px) {
  .logo {
    max-width: 60%; /* Further reduce the logo size for smaller screens */
  }
}

.fade-in {
  opacity: 0;
}

h1 {
  color: white;
  font-family: "Georgia", Times, serif;
}

.title-date-container_0 {
  white-space: nowrap;
}

@media (max-width: 785px) {
  .title-date-container_0 {
    white-space: normal;
  }
}

.title-date-container_1 {
  white-space: nowrap;
}

@media (max-width: 1087px) {
  .title-date-container_1 {
    white-space: normal;
  }
}

h3 {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

p {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

.highlight {
  border: 3px solid green;
}

.details-container {
  width: 40vw;
  padding-top: 7%;
  opacity: 1;
  transition: opacity 1s ease;
  padding-bottom: 10%;
  overflow: visible;
}

.details-container-no-fade {
  width: 40vw;
  padding-top: 7%;
  opacity: 1;
  padding-bottom: 10%;
}

.outline-right {
  display: inline-block;
  width: auto;
  box-shadow: 3px 0 white;
}

.outline-left {
  display: inline-block;
  width: auto;
  box-shadow: -3px 0 white;
}

.footer {
  background-color: black;
}

.margin20 {
  margin-left: 20%;
}

.details-container.with-image {
  width: 50vw;
}

.details-container.fade-out {
  opacity: 0;
}

.details-container.fade-in {
  opacity: 1;
}

@media (max-width: 800px) {
  .details-container {
    padding-top: 10px;
    width: 300px; /* Set a specific width for larger screens */
  }
}

.nav-link,
.navbar-brand {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.nav-link:hover,
.navbar-brand:hover {
  opacity: 1;
}

.image-container {
  width: 23vw;
  height: 23vw;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 773px) {
  .image-container {
    width: 40vw;
    height: 40vw;
  }
}

.centered-item {
  margin-left: auto;
  margin-right: auto;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  background: none;
  border: none;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.img-txt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: white;
}

a.with-underline::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust the value to move the underline lower */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white; /* Adjust the color of the underline */
}

.invisible {
  opacity: 0;
}

.logo-container {
  width: 10vw;
  height: 10vw;
}

.footer-logos {
  width: auto;
  max-width: 50px; /* Ensure the logo does not exceed its container's width */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}

/* Example media query for adjusting the logo size at different screen sizes */
@media (max-width: 768px) {
  .footer-logos {
    max-width: 30px; /* Reduce the logo size for smaller screens */
  }
}
