footer {
  width: 100vw;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .footer-text {
    font-size: 14px;
  }
  a {
    text-decoration: underline;
    color: white;
  }
  a:hover {
    cursor: pointer;
  }
}
