@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mukta&display=swap");
h1 {
    font-family: "Dancing Script", cursive;
    font-size: clamp(3em, 5vw, 7vw);
    color: whitesmoke;
    text-align: center;
}

h2 {
    font-family: "Mukta", sans-serif;
    font-size: clamp(1em, 2vw, 3vw);
    color: whitesmoke;
    text-align: center;
}

h3 {
    font-family: "Mukta", sans-serif;
    font-size: 1em;
    color: #818181;
    padding: 0;
    margin: 0;
}

h3:hover {
    color: whitesmoke;
    transition: all 500ms ease;
}

h4 {
    cursor: pointer;
    color: #818181;
    font-size: 0.5em;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
}

p {
    font-family: "Mukta", sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 0;
    margin: 30px;
    font-size: clamp(1em, 2vw, 2.5vw);
}

body {
    background-color: black;
}

.text-area-container {
    padding: 10%;
}

.text-area {
    border: 5px solid white;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    display: inline;
}

.material-icons {
    color: #818181;
    cursor: pointer;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: clamp(0.5em, 0.7em, 1em);
}

.material-icons:hover {
    color: whitesmoke;
    transition: all 500ms ease;
}


/* Container holding the image and the text */

.container {
    position: relative;
    text-align: center;
    color: white;
}


/* Bottom left text */

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


/* Top left text */

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


/* Top right text */

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}


/* Bottom right text */

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/* Centered text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Center top text */

.center-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 80%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn:hover {
    color: whitesmoke;
    transition: all 500ms ease;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.topbox {
    background-color: black;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 98%;
    overflow: hidden;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
}

.sidenav-button {
    cursor: pointer;
    color: #818181;
    font-size: clamp(2em, 3.5em, 5em);
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.sidenav-button:hover {
    color: whitesmoke;
    transition: all 500ms ease;
}