@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mukta&display=swap");
h1 {
    font-family: "Dancing Script", cursive;
    font-size: clamp(3em, 5vw, 7vw);
    color: whitesmoke;
    text-align: center;
}

h3 {
    font-family: "Mukta", sans-serif;
    font-size: 1em;
    color: #818181;
    padding: 0;
    margin: 0;
}

h3:hover {
    color: whitesmoke;
    transition: all 500ms ease;
}

p {
    font-family: "Mukta", sans-serif;
    color: whitesmoke;
    text-align: justify;
    padding: 0;
    margin: 30px;
    font-size: clamp(1em, 2vw, 2.5vw);
}

body {
    padding-top: 60px;
    background-color: #4f4f4f;
    background-image: url("https://img.freepik.com/free-photo/grilled-beef-steak-dark-wooden-surface_1150-44344.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
}

.exit-button {
    cursor: pointer;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.material-icons {
    color: #818181;
}

.material-icons:hover {
    color: whitesmoke;
    transition: all 500ms ease;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn:hover {
    color: whitesmoke;
    transition: all 500ms ease;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.topbox {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    display: inline-flex;
    justify-content: space-between;
}

.sidenav-button {
    cursor: pointer;
    color: #818181;
    font-size: clamp(2em, 3.5em, 5em);
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.sidenav-button:hover {
    color: whitesmoke;
    transition: all 500ms ease;
}