@import '../../../_variables.scss';

.home-page {
  overflow: hidden;
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    padding-top: 40px;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;

    &:before {
      content: "<h1>";
      font-family: "La Belle Aurore", cursive;
      color: $primary-color;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -10px;
      opacity: 0.6;
    }

    &:after {
      content: "<h1/>";
      font-family: "La Belle Aurore", cursive;
      color: $primary-color;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #dcdcdc;
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: $primary-color;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid $primary-color;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: $primary-color;
      color: #333;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-page {
    overflow: visible;
  }
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    position: absolute;
  }
  .home-page h1::after {
    margin-left: 0;
    margin-top: 40px;
    left: -10px;
  }

  .top-tags {
    padding-top: 70px;
    display: block;
  }

  .home-page .text-zone {
    top: 150px;
    position: absolute;
    width: 90%;
    transform: none;
  }
}

@media screen and (max-width: 386px) {
  .home-page .text-zone {
    left: 15px;
    width: 95%;
  }
}
