.first-rbc-internship-page.container,
.second-rbc-internship-page.container,
.vexo-labs-page.container {
  position: relative;
  h1 {
    margin-left: clamp(24px, 8vw, 10vw);
    margin-top: clamp(48px, 10vh, 10vh);
  }
  .text-area {
    margin: auto;
    width: min(960px, 78%);
    margin-top: clamp(48px, 8vh, 150px);
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    gap: clamp(24px, 5vh, 40px);
    padding: 0 24px;
    box-sizing: border-box;

    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;

      iframe {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
      }
    }
  }
}

.mobile-break {
  display: none;
}

@media screen and (max-width: 640px) {
  .first-rbc-internship-page.container,
  .second-rbc-internship-page.container,
  .vexo-labs-page.container {
    .text-area {
      width: 100%;
      padding: 0 20px;
    }
  }
  .mobile-break {
    display: block;
  }
}
