.paragraph-container {
  display: block;
}

.paragraph-container.center {
  text-align: center;
}

.paragraph-container.left {
  text-align: left;
}

.paragraph-container.right {
  text-align: right;
}

.paragraph-container.justify {
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .paragraph-container.left,
  .paragraph-container.right {
    text-align: center;
  }
}



